*{
    margin:0;
    padding:0;
}
body{
    background-image: url(./image/body3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100vw;
    margin:0;
}
.list{
    
    margin-left:150px;
}
 .item{
     margin-top:25%;
    
    display: inline-block;
}
 .item .link{

     color: white;
     margin: 25px;
     padding: 15px;
     border: 4px solid white;
     border-radius: 10px;
     text-decoration: none;
     text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.25rem;
    font-weight:700;
   


}
.item .link:hover{
    background-color:white;
    
    color:#212529;
    transition: 0.5s;
}