*{
    margin:0;
    padding:0;
}
.bodymwp{
    background-image: url(./image/container.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100vw;
    margin:0;
}
.list{
    
    margin-left:50px;
}
 .item{
     margin-top:25%;
    
    display: inline-block;
}
 .item .link{

     color: white;
     margin: 20px;
     padding: 15px;
     border: 4px solid white;
     border-radius: 10px;
     text-decoration: none;
     text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.25rem;
    font-weight:700;
   


}
.item .link:hover{
    background-color:white;
    
    color:#212529;
    transition: 0.5s;
}
.homepg{
    background-color: white;

}
header{
    height:12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar{
    margin-left:35px;
}
.navbar .navitem{
    display:inline-block

}
.navbar .navitem .navlink{
    text-decoration: none;
    text-transform: uppercase;
    margin:10px;
    font-size: 20px;
    color:gray;
}
.logo{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
  
    

}
.smaccs{
    margin-right: 35px;
}
i{
    margin: 10px;
    
}
.sec1{
    background-image: url(./home/body.jpg);
    background-position:center;
   
    background-size: cover;
    /* background-repeat: no-repeat; */
    height:90vh;
    width:100vw;
   
    
}
h1{
    float:right;
    color:white;
    margin-top:200px;
    margin-right:100px;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    
    font-size:40px;
    text-align: center;
    line-height: 4rem;
}
.sec2{
    display: flex;
    height: 80vh;
    width: 100vw;
    background-color:#e0e2db;
}
.sec2 .img1{
    height:80vh;
    width:50vw;
    background-image: url(./home/the\ c\ drops.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.sec2 .cont1{
    height:80vh;
    width:50vw;
    
}
.sec2 .cont1 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-transform: uppercase;
    color:#606060;
    font-weight: 400;
    text-align: center;
    margin-top:40%;
}
.sec3{
    display: flex;
    height: 80vh;
    width: 100vw;
    background-color:#e0e2db;
}
.sec3 .cont2{
    height:80vh;
    width:50vw;

}
.sec3 .cont2 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-transform: uppercase;
    color:#606060;
    font-weight: 400;
    text-align: center;
    margin-top:40%;
    font-size:27px;
}
.sec3 .img2{
    background-image: url(./home/Luxury\ Beauty\ Serum.jpg);
    height:80vh;
    width:50vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pgend{
    display: flex;
    justify-content: start;
    align-items: center;
    height:10vh;
    
}
.wn{
    color:#000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-left:25px;
}
.hk{
    color:#000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;



}
/* HOME PAGE END */
/* background-color:#e0e2db; */
/* color:#606060; */
.ppg{
    background-color: white;

}

