*{
    margin:0;
    padding:0;
}
.bodymwp{
    background-image: url(./image/container.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100vw;
    margin:0;
}
.list{
    
    margin-left:50px;
}
 .item{
     margin-top:25%;
    
    display: inline-block;
}
 .item .link{

     color: white;
     margin: 20px;
     padding: 15px;
     border: 4px solid white;
     border-radius: 10px;
     text-decoration: none;
     text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.25rem;
    font-weight:700;
   


}
.item .link:hover{
    background-color:white;
    
    color:#212529;
    transition: 0.5s;
}
.homepg{
    background-color: white;

}
header{
    height:12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar{
    margin-left:35px;
}
.navbar .navitem{
    display:inline-block

}
.navbar .navitem .navlink{
    text-decoration: none;
    text-transform: uppercase;
    margin:10px;
    font-size: 20px;
    color:gray;
}
.logo{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
  
    

}
.smaccs{
    margin-right: 35px;
}
i{
    margin: 10px;
    
}